/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.06.2016, 14:24:14
    Author     : al94
*/
#h1FromStart{
    text-align:right;
    padding-right: 20px;
}
#formDivStart{
    display:inline-block;
    margin-left: 40%;
    margin-top:20%;
}

footer{

    position: absolute;
    bottom:0px;

}
#static-footer{
    position: fixed;
    display: block;
}

#gotoRegisterForm{
    position: absolute;
    margin-left:14%;
    margin-top:-43px;
}
#login-alert{
    position:absolute;

}
.clientImageSubmit{
    width:150px;
    height:147px;
    opacity:0.5;
}
.clientImageSubmit:hover{
    opacity:1;

}
h3{
    padding-left: 20px;
}
.logout{
    position:absolute;
    top:25px;
    right:10px;
}
#register-form{
    width: 250px;
    height:600px;
    margin-left:540px;
}
h2{
    text-align:center;
    color:black;
}
#add-category-form{
    width: 250px;
    margin-left:550px;
    margin-top:100px;
}
#submit-category{
    margin-left:43px;
}
.btn-link{
    position:absolute;
    top:15px;
    left:10px;
}
.goToStartPage{
    left:70px;

}
#change-location-form{
    width:200px;
    margin-top:50px;
    margin-left: 585px;
}
#change-name-surname-form{
    width:200px;
    margin-top:50px;
    margin-left: 585px;
}
#changePasswordForm{
    width:200px;
    margin-top:50px;
    margin-left: 585px;

}
.changeprim{
    margin-left:50px;
}
#phone-change-form{
    width:200px;
    margin-top:50px;
    margin-left: 585px;
}
#create-order-form{
    margin-top:100px;
    margin-left:350px;
    width:800px;
    display:inline-block;
}
.numborder{
    width: 65px;
    display: inline-block;
}
.name{
    display: inline-block;
    width:400px;
}
.price{
    display: inline-block;
    width:100px;
}
.mass{
    display: inline-block;
    width:100px;
}
.orderlist{
    width:700px;
    margin-left: 350px;
    margin-top:100px;
}

.about_order_li{
    background: #EDC626;
    color: white;
    font-weight:bolder;
}
.category_li_order{
    list-style-type: none;

}
.category_li_order>.name{
    font-size: 24px;
}
.hsdesc{
    font-size: 14px;
}
#outerTotalSpan{
    position:fixed;
    font-size: 24px;
    bottom:0px;
    right:5px;
}
#buttonCreateOrder{
    margin-right: 330px;
}
#h1Err{
    text-align: center;
}
#bodyError{
    color:red;
}
#productCreationForm{
    width:200px;
    margin-top:50px;
    margin-left: 585px;
}
#productUpdateForm{
    width:200px;
    margin-top:50px;
    margin-left: 585px; 
}
.updprim{
    margin-left:0px;
}
.succcessType{
    display: none;
}
.number{
    display:inline-block;
}
.olhead{
    background: #EDC626;
    color: white;
    font-weight:bolder;
}
#totalSpan{
    font-size: 24px;
    bottom:0px;
    margin-left: 570px;
}
.changesmth{
    width: 300px;
    margin-right:550px;
}
.firstchs{
    margin-top: 50px;
}
#newOrdersTable thead{
    background:#EAE07B;
    color:white;
}
#undone-user-orders thead{
    background:#7BEAE8 ;
    color:white;
}
#cancelled-by-you thead{
    color:white;
    background:#3E604B ;
}
#done-orders thead{
    background:#7BEAA7;
    color:white;
    background:#7BEAA7;
}
#cancelled-orders thead{
    color:white;
    background:#EA7D7B;
}
.order-spans{
    font-size:24px;
    display:block;
    margin-left: 550px;
}
.link-usr{
    position: relative;
    top: 0px;
}
h4{
    margin-left: 550px;
}
#firsth4{
    margin-top: 100px;
}
.productsForm{
    display: inline-block;
}
.btninl{
    margin-right:0px;
}
.head-products{
    background: #A2D06D;
    color:white;
    
}
#productsUl{
    margin-left:180px;
    width:980px;
    list-style-type: none;
}
.AddToMenu{
    background:  #81D06D;
    color:white;
}
.deletefromMenu{
    background: #ED4054;
    color:white;
}
.categoryname{
    display:inline-block;
    width:750px;
    font-size:24px;
}
.product-footer{
    font-size:12px;
    
}
#newProduct,#newCategory{
    width: 150px;
    position: absolute;
    left:15px;
}
#newProduct{
    top:100px;
}
#newCategory{
    top:150px;
}
.changelang{
    position: absolute;
    top:0px;
}
#logo{
    position: absolute;
    width:256px;
    height:256px;
    background-image: url("../../resources/image/restaurant-icon--0.png") ;
    background-size: 256px;
    left:570px;
    top:63px;
}
.regbut{
    margin-top:-2px;
    margin-left:-3px;
    width: 113px;
}
.btadpr{
    margin-left: 55px;
}


